$brown1: #e2d8c8;
$brown2: #ddcdb9;
$brown3: #c2b19b;
$brown4: #b3a38b;
$brown5: #a0918b;
$brown6: #807f6f;
$brown-light: #f8f5ec;
$brown-dark: #503f4d;


$greygreen: #51574a;
$darkgreen: #447c69;
$yellow: #e9d78e;
$orange: #f19670;
$red: #e16552;
$lightblue: #7c9fb0;
$blue: #5698c4;
$green: #9abf88;

$rose: #e279a3;