---
name: home
url: /
title: Home
recipes:
    - Erdbeerkuchen
    - Taccosalat
    - Tiramisu 
categories:
    - Backen:
       - Torten
       - Kuchen
       - Muffins
       - Gebäck
    - Kochen:
       - Suppe
       - Salat
       - Nudeln & Reis
       - Gemüse
       - Auflauf
       - Fisch
       - Vegetarisch
    - Dessert:
       - Creme
       - Eis
       - Frucht
    - Getränke:
       - Alkoholisch
       - Nicht Alkoholisch
recipe:
    - 
      id: 1
      name: Kadse
      description: Kleine süße Kadse, awwwwwwww.
      img: http://placekitten.com/g/400/200
    - 
      id: 2
      name: Andere Kadse
      description: Kleine andere süße Kadse.
      img: http://placekitten.com/g/600/300
    - 
      id: 3
      name: Noch eine Kadse
      description: Kleines süßvieh.
      img: http://placekitten.com/g/800/400

edit: false
---

<!--Hauptblock-->
  <div class="grid-block">
    <div zf-panel="" class="medium-grid-block medium-2 panel" id="panel-left" position="left"> 
      <div class="grid-content noscroll">
        <label>
          <span id="search" class="inline-label">
            <input type="search" placeholder="Search a thing">
            <a href="#" class="button"><i class="fi-magnifying-glass"></i></a>
          </span>
        </label>
        <zf-accordion auto-open="false" collapsible="true" multi-open="true">
          <div ng-repeat=" cats in vars.categories">
            <zf-accordion-item  ng-repeat=" (key,cat) in cats" title="{{ key }}">
              <ul ng-repeat="subcat in cat">
                <li><a href="">{{ subcat }}</a></li>
              </ul>
            </zf-accordion-item>
          </div>
        </zf-accordion>

      </div>
    </div>
  <div id="recipeViewMain" class="grid-block vertical">
    <div class="grid-content noscroll shrink">
      <h2><strong>Backen</strong></h2>
    </div>
    <!-- Cards -->
    <div class="grid-block small-up-1 medium-up-2 large-up-3 ng-scope">
      <div ng-repeat="rec in vars.recipe" class="grid-content">
        <div class="dark card">
          <img src="{{rec.img}}">
          <div class="card-divider">
            <i class="fi-star"></i>
            <i class="fi-star"></i>
            <i class="fi-star"></i>
            <i class="fi-star"></i>
            <i class="fi-star"></i>
          </div>
          <div class="card-section">
            <h4>{{ rec.name }}</h4>
            <p>{{ rec.description }}</p>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div zf-panel="" class="medium-grid-block medium-2 vertical" id="panel-right" position="right"> 
      <div id="shoppinglist" class="grid-content noscroll" ng-include src="'partials/right-panel-shoppinglist.html'"></div>
      <div id="selectedRecipes" class="grid-content noscroll" ng-include src="'partials/right-panel-recipeslist.html'"></div>
    </div>
  </div> 