---
name: home
url: /
---

<!--Hauptblock-->
	<div class="grid-block">
		<div class="small-2 grid-block">
			<zf-panel class="medium-grid-block" id="panel-left" position="left"> 
				<div class="grid-content">
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
					<p>This is a left panel.</p>
				</div>
			</zf-panel>
		</div>
		<div class="grid-block">
			<div class="grid-content">
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
				<p>Content</p>
			</div>
		</div>
		<div class="small-2 grid-block">
			<div class="grid-content">
				<zf-panel class="medium-grid-block" id="panel-right" position="right"> 
					<div class="grid-content">
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
						<p>This is a left panel.</p>
					</div>
				</zf-panel>
			</div>
		</div>
	</div> 